.photo-header {
  display: inline-block;
  width: 100%;
  height: 19%;
  overflow: hidden;
  background-color: purple;
  .frame  {
    display: inline-block;
    width: 100%;
    height: 85%;
    overflow: hidden;
    img {
      margin-left: -15%;
      margin-top: -15%;

    }
  }
}

.grid {
    position: absolute;
    overflow: hidden;
    img {
      position: absolute;
      overflow: hidden;
    }
  }
.logo img {
  position: absolute;
  left: 3%;
  top: 9%;
}
