// @import "photo-header.scss";
// @import "header-nav.scss";
// @import "skateboarders.scss";

body {
  position: absolute;
  margin: 0;
  padding: 0;

}

.black-overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: .6;
}
.main-col {
  position: absolute;
  left: 24%;
  height: 96%;
  width: 52%;
  z-index: 1;
  // background-color: rgba(173, 216, 230, 0.75);
}

// Social bar styling below


.social {
  display: inline-block;
  width: 100%;
  height: 3%;
  // background-color: rgba(255, 0, 0, 0.68);

}
.buttons {
  width: 27%;
  height: 100%;
  float: right;
  margin-right: -12px;
  a {
    width: 22%;
    height: 100%;

  }
}
.buttons a img {
  width: 22%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 7px 5px grey;
}
.subscribe {
  display: inline-block;
  color: white;
  margin-left: 53%;
  margin-top: 2%;
  a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: x-large;

  }
}
.subscribe a:hover {
  color: darkgray;
}
// header-nav bar below


.header-nav {
  display: inline-block;;
  width: 100%;
  height: 3%;
  // background-color: yellow;
  .menu {
    display: inline-block;
    width: 23%;
    height: 63%;
    background-color: red;
    margin-left: 14px;
    margin-top: 11px;
    box-shadow: 0px 7px 5px grey;

    }
}
.menu a {
  text-decoration: none;
  font-family: sans-serif;
  :hover {
    background-color: #940707;
    transition: 1s ease;
  }
}
.menu a h4{
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 5%;
  color: white;
}
// photo-header below here


.photo-header {
  display: inline-block;
  width: 100%;
  height: 19%;
  // background-color: purple;
}
.logo {
  position: absolute;
  left: 3%;
  top: 9%;
  :hover {
    transition: 2s ease ;
    transform: rotatey(360deg);
  }
}
.grid {
  background-image: url(assets/top-image.png);
  /* background-position: center; */
  background-position: 32%;
  width: 98%;
  height: 90%;
  overflow: hidden;
  background-position-y: 24%;
  border: 9px white solid;
  box-shadow: 0px 7px 5px grey;
}
.background {
  width: 100%;
  overflow: hidden;
}
//   .frame  {
//     display: inline-block;
//     width: 100%;
//     height: 83%;
//     overflow: hidden;
//
//     img {
//       margin-left: -15%;
//       margin-top: -15%;
//
//     }
//   }
// }
// .logo{
//   position: absolute;
// }
// .grid {
//   position: absolute;
// }
// news bar goes belwo here


// news bars below here


.news {
  display: inline-block;
  width: 100%;
  height: 18%;
  padding-top: 10px;
  // background-color: green;
  .articles {
    display: inline-block;
    margin: 3px;
    padding: 0px;
    width: 32%;
    height: 90%;
    background-color: white;
    margin-right: .5%;
    margin-top: 1%;
    box-shadow: 0px 7px 5px grey;
      }
}

.articles h2 {
  display: inline-block;
  margin: 15px;
  height: 21px;
  font-family: sans-serif;
}
.articles h5 {
  display: inline-block;
  margin: 15px;
  height: 21px;
}
.articles p {
  display: inline-block;
  margin: 15px;
  height: 21px;
}
.articles a {
  display: inline-block;
  margin: 15px;
  height: 21px;
}
// skateboarders section below (Partially reading import file?)


.skateboarders {
  display: inline-block;
  width: 100%;
  height: 24%;
  // background-color: orange;
}
.photo-top {
  display: inline-block;
  width: 65%;
  height: 43%;
  margin-top: 15px;
  margin-left: 8px;
  padding-bottom: 23px;
  #left {
    display: inline-block;
    width:47%;
    height: 100%;
    overflow: hidden;
    border: 7px white solid;
    box-shadow: 0px 7px 5px grey;
    // background-color: yellow;
    img {
      position: relative;
      right: 38%;
      bottom: 4%;

    }
  }
}
#left h3 {
  position: absolute;
  z-index: 2;
  color: white;
}
#right {
  display: inline-block;
  width:47%;
  height: 100%;
  float: right;
  overflow: hidden;
  border: 7px white solid;
  box-shadow: 0px 7px 5px grey;
  // background-color: green;
  img {
    position: relative;
  }
}
#right h3{
  position: absolute;
  z-index: 2;
  color: white;
}
.photo-right {
  display: inline-block;
  background-color: blue;
  width: 31%;
  height: 92%;
  margin-top: 16px;
  margin-right: 11px;
  float: right;
  border: 7px white solid;
  overflow: hidden;
  box-shadow: 0px 7px 5px grey;
  img {
    position: relative;
    height: 100%;
    right: 124%;
  }
}
.photo-right h3 {
  position: absolute;
  z-index: 2;
  color: white;
}
.photo-bottom {
  display: inline-block;
  width: 64%;
  height: 45%;
  overflow: hidden;
  background-color: lightblue;
  margin-left: 8px;
  border: 7px white solid;
  box-shadow: 0px 7px 5px grey;
  img {
    position: relative;
    bottom: 103px;
  }
}
.photo-bottom h2 {
  position: absolute;
  z-index: 2;
  color: white;
}
// Deck section below


.decks {
  display: inline-block;
  width: 99%;
  height: 14%;
  background-color: white;
  padding: 0%;
  margin-bottom: 2%;
  margin-left: 5px;
  margin-top: 7px;
  box-shadow: 0px 7px 5px grey;
  // margin-top: 1%;

  ul {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    padding-left: 4%;
    margin-right: -6%;
    li {
      display: inline-block;
      width: 9%;
      height: 90%;

    }
  }
}
.decks ul li img:hover {
  transform: rotatez(10deg);

}
// contact-info below


.contact-info {
  display: inline-block;
  width: 100%;
  height: 17%;
  background-color: white;
  box-shadow: 0px 7px 5px grey;
}
